{% extends 'base.html' %}
{% load bootstrap_tags %}

{% block page_title %}Password{% endblock %}
{% block page_header %}Reset your password{% endblock %}
{% block content %}
<section id="form-card">
        <form method="POST" data-wow-duration="1s" data-wow-delay="1s" class="form-signin form-horizontal wow fadeIn animated animated" role="form" >
            <div>
                <h2 class="form-heading text-center form-card-title">Password Reset Request</h2>
                {% csrf_token %}
                <p>Please enter your email address</p>
                {{ form.email.errors }}
                    <label for="id_email">Email address:</label>
                    {{ form.email }}

            </div>
            <div class="clearfix"></div>
            <button data-wow-duration="2s" data-wow-delay="s" type="submit" class="btn btn-primary btn-block ladda-button fadeIn animated" data-style="zoom-in">
                <span class="ladda-label">Reset Password</span>
            </button>
        </form>
    </section>
{% endblock %}

