{% extends 'base.html' %} {% block page_title %}{{title|title}}{% endblock %} {% block page_header %}{{title}}{% endblock %} {% block content %}

<section class="news">
    <div class="container">
        <div class="row">
            <div class="leftColumn">
                {% for post in posts %}
                <div class="card">
                    <h2>{{ post.title }}</h2>
                    <h5><strong>Published on:</strong> {{ post.published_date }} <strong>Views:</strong> {{ post.views }} <strong>Comments:</strong> {{ post.comments.count }}</h5>
                    <div class="post-img"><img src="{{ post.image.url }}"></img></div>
                    <div>
                        
                    <p>{{ post.content|truncatewords:30 }}</p>
                    <p><a href="{% url 'post_detail' post.id %}" class="btn btn-default">Read more</a></p>
                    </div>
                    <h5><strong>Tags:</strong> {{ post.tag|upper }}</h5>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
