{% extends 'base.html' %}
{% load bootstrap_tags %}

{% block page_header %}Login{% endblock %}
{% block page_title %}Login{% endblock %}
{% block content %}

<section id="form-card">
        <form method="POST" data-wow-duration="1s" data-wow-delay="1s" class="form-signin form-horizontal wow fadeIn animated animated" role="form" >
            <div>
                <h2 class="form-heading text-center form-card-title">Login Panel</h2>
                {% csrf_token %}
                {{ login_form|as_bootstrap }}
                <div class="row form-group forgot-password-link">
                    <div class="col-xs-12">
                        <div class="forget-password text-center" >
                            <a id="link-forgot" href="{% url 'password_reset' %}"> 
                                Forgot Password?
                             </a>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <button data-wow-duration="2s" data-wow-delay="s" type="submit" class="btn btn-primary btn-block ladda-button fadeIn animated" data-style="zoom-in">
                <span class="ladda-label">Login</span>
            </button>
        </form>
    </section>
    
{% endblock %}