{% extends 'base.html' %} {% block page_title %}Events{% endblock %} {% block page_header %}Events{% endblock %} {% block content %}

<section class="news">
    <div class="container">
        <div class="row">
            <div class="leftColumn">

                <div class="card">
                    <!-- Google Calendar embed -->
                    <iframe class="calendar-iframe" src="https://calendar.google.com/calendar/embed?src=savetheworld.ci.project%40gmail.com&ctz=Europe%2FDublin" style="border: 0" frameborder="0" scrolling="no"></iframe>
                </div>

            </div>
        </div>
    </div>
</section>
{% endblock %}
