{% load static %} {% load common_tags %}
<!DOCTYPE html>
<html>

<head>
    <meta name="title" content="Save the World">
    <meta name="deescription" content="#">
    <link rel="icon" href="https://fe5f9be07ba14ed997985b891ef1c58b.vfs.cloud9.us-east-1.amazonaws.com/static/img/favicon.png" type="image/png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    <!--<link rel="stylesheet" href="{% static 'css/styles.css' %}">-->
    <link rel="stylesheet" href="https://fe5f9be07ba14ed997985b891ef1c58b.vfs.cloud9.us-east-1.amazonaws.com/static/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap" rel="stylesheet">
</head>

<body>

    <header id="header">
        <!--Start of the navbar-->
        <div class="top-bar">
            <div class="logo-brand">
                <a href="/" alt="Save the World"><img class="logo-brand-img" src="https://fe5f9be07ba14ed997985b891ef1c58b.vfs.cloud9.us-east-1.amazonaws.com/static/img/logo.png" alt="brand-logo"></a>
            </div>
            {% if user.is_authenticated or user|is_editor %}
            <div class="top-badge">
                <a href="{% url 'new_post' %}" class="btn btn-default"><i class="fa fa-edit"></i>Add New Post</a>
            </div>
            {% endif %}
            <div class="top-badge">
                <a href="donate.html" class="btn btn-default"><i class="fa fa-thumbs-o-up"></i>Donate</a>
            </div>

        </div>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar2">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                        </button>
                </div>
                
            {% with url_name=request.resolver_match.url_name %}
            {# Sets the active link to match the active url pattern #}
                <div id="navbar2" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="{% if url_name == 'index' %}active{% endif %}"><a href="{% url 'index' %}">HOME</a></li>
                        <li class="{% if url_name == 'get_news' %}active{% endif %}"><a href="{% url 'get_news' %}">NEWS</a></li>
                        <li class="{% if url_name == 'get_blogs' %}active{% endif %}"><a href="{% url 'get_blogs' %}">BLOGS</a></li>
                        {% if user.is_authenticated or user|is_editor %}
                        <li class="{% if url_name == 'get_all_posts' %}active{% endif %}"><a href="{% url 'get_all_posts' %}">ALL ENTRIES</a></li>
                        {% if user.is_superuser %}
                        <li class="{% if url_name == 'admin:index' %}active{% endif %}"><a href="{% url 'admin:index' %}">ADMIN</a></li>
                        {% endif %} {% endif %} {% if user.is_authenticated %}
                        <li class="{% if url_name == 'view_profile' %}active{% endif %}"><a href="{% url 'view_profile' %}">PROFILE</a></li>
                        <li class="{% if url_name == 'logout' %}active{% endif %}"><a href="{% url 'logout' %}">LOGOUT</a></li>
                        {% else %}
                        <li class="{% if url_name == 'login' %}active{% endif %}"><a href="{% url 'login' %}">LOGIN</a></li>
                        <li class="{% if url_name == 'registration' %}active{% endif %}"><a href="{% url 'registration' %}">REGISTER</a></li>
                        {% endif %}
                    </ul>
                </div>
            {% endwith %}
            </div>
        </nav>
        <!--End of navbar-->
    </header>


    <h1>{% block page_header %}{% endblock %}</h1>
    <hr/>
    <!--Message board-->
    {% if messages %}
    <div>
        {% for message in messages %} {{ message }} {% endfor %}
    </div>
    {% endif %}
    <!--End of messages-->

    <!--Page content-->
    {% block content %}{% endblock %}
    <!--End of content-->

    <!--Scripts-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    {% block stripe_js %} {% endblock %}
</body>

</html>
