{% extends 'base.html' %} {% load static %} {% load bootstrap_tags %}
{% block page_header %}Donate to a good cause{% endblock %}
{% block page_title %}Donate{% endblock %}

{% block content %}

<section id="form-card">
    <form method="POST" role="form" id="payment-form" action="{% url 'checkout' %}" data-wow-duration="1s" data-wow-delay="1s" class="form-signin form-horizontal wow fadeIn animated animated">
        {% csrf_token %}
        <div>
            <h2 class="form-heading text-center form-card-title">Payment Details</h2>
            <div id="credit-card-errors" style="display:none">
                <div class="alert-message block-message error" id="stripe-error-message"></div>
            </div>
            {{ donation_form|as_bootstrap }} {{ payment_form|as_bootstrap }}
        </div>
        <button style="margin-top: 20px;" data-wow-duration="2s" data-wow-delay="s" type="submit" class="btn btn-primary btn-block ladda-button fadeIn animated" data-style="zoom-in">
                            <span class="ladda-label">Donate</span>
                        </button>
    </form>
</section>


{% endblock %} {% block stripe_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    //<![CDATA[
    Stripe.publishableKey = '{{ publishable }}'
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}
